/* Filepath: D:\OFFICE_PROJECT\work\src\components\Grapghs.css */
.graphs-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 150%;
    overflow:visible;
    background-color: #eaeaea;
  }

  .dark-mode .graphs-container{
    background-color: #012a71;
    /* color: white; */
  }
  
  
  .graph-box-top{
    position: relative;
    height: 25%;
    width: 60%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: -10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .graph-box-top:hover{
    transform: translateY(-5px); /* Lift effect on hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
  }

  .graph-box-top{

  }

  .dark-mode .graph-box-top{
    color: #fff;
    background-color: #005EB8;
  }

  .graph-box-top h2{
    margin-top :5px;
    margin-bottom: 0px;
    color: black;
  }

  .dark-mode .graph-box-top h2{
    color: #fff;
  }


  .top-box{
    position: relative;
    height: 60%;
    width: 100%;
    /* margin-bottom: 10px; */
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }


  .graph-box-top img{
    /* margin-top: 10px; */
    position: relative;
    height: 100%;
    width: 90%;
  }


  .graph-box-main{
    display: flex;
    position: relative;
    width: 98%;
    height: 85%;
    /* background-color: #fff; */
  }

  .graph-box-left{
         /* background-color: rgb(61, 17, 17); */
         width: 50%;
         height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
  }

  .graph-box-left-inner{
    display: flex;
    justify-Content:space-evenly;
    height: 45%;
    width: 100%;
  }
  
  .graph-box1 {
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 98%;
    height: 48%;
    text-align: center;
    /* margin-left: 8px; */
    
  }

  .graph-box2 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* padding: 20px; */
    width: 48%;
    text-align: center;
    /* height: 45%; */
  }
  .graph-box3 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* padding: 20px; */
    width: 48%;
    text-align: center;
  }
  

  .graph-box-right{
    /* background-color: rgb(231, 68, 68); */
    width: 50%;
         height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

}


.graph-box4 {
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 98%;
    height: 60%;
    text-align: center;
  }

  .graph-box5 {
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 98%;
    height: 30%;
    text-align: center;
  }

  .box {
    
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow */
}

.box img{
  margin-top: -10px;
  position: relative;
  height: 80%;
  width: 80%;
  /* margin-bottom: 10px; */
}

.box h2{
  margin-top: 5px;
  margin-bottom:20px ;
}

.dark-mode .box{
  background-color: #005EB8;
}

.box h2{
  color: #005EB8;
}

.box p{
  color: black;
}

.dark-mode .box h2{
  color: white;
}

.dark-mode .box p{
  color: white;
}

.box:hover {
    transform: translateY(-5px); /* Lift effect on hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}




